@model AddTodoViewModel
    <div class="container-fluid">
        <div class="row">
            <div class="card" style="text-align: center">
                <form asp-controller="Todo" asp-action="AddNewToDo" method="post" class="form form-inline">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-0">
                            <input asp-for="Text" title="" class="form-control" />
                            <button type="submit" class="btn btn-default btn-success">Add</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>